$dracula-purple-000: #bd93f9;
$dracula-purple-100: #bd93f9;
$dracula-purple-200: #bd93f9;
$dracula-purple-300: #bd93f9;

$dracula-cyan-000: #8be9fd;
$dracula-cyan-100: #8be9fd;
$dracula-cyan-200: #8be9fd;
$dracula-cyan-300: #8be9fd;

$dracula-red-000: #ff5555;
$dracula-red-100: #ff5555;
$dracula-red-200: #ff5555;
$dracula-red-300: #ff5555;

$dracula-orange-000: #ffb86c;
$dracula-orange-100: #ffb86c;
$dracula-orange-200: #ffb86c;
$dracula-orange-300: #ffb86c;

$dracula-green-000: #50fa7b;
$dracula-green-100: #50fa7b;
$dracula-green-200: #50fa7b;
$dracula-green-300: #50fa7b;

$dracula-pink-000: #ff79c6;
$dracula-pink-100: #ff79c6;
$dracula-pink-200: #ff79c6;
$dracula-pink-300: #ff79c6;

$dracula-yellow-000: #f1fa8c;
$dracula-yellow-100: #f1fa8c;
$dracula-yellow-200: #f1fa8c;
$dracula-yellow-300: #f1fa8c;
